* {
    font-family: 'popins', sans-serif;
    background: rgb(18, 21, 24);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root {
--heading: rgb(230, 230, 250);
--para: aliceblue;
--shadow: 0 0 20 0 rgb(255, 255, 255/ 30% ) ;
--btnsupport: ;
--btn: #0f2027;
--btnbackground: linear-gradient(43deg, #0f2027 0%, #203a43 46%, #2c5364 100%);
--helper: rgb(0, 255, 255 );
--shadowlist: 25px 25px 75px rgba( 0, 0, 0, 0.25),
10px 10px 70px rgba(0,0,0,0.25),
inset 5px 5px 10px rgba(0,0,0,0.5),
inset 5px 5px 20px rgba(255, 255, 255,0.2),
inset -5px -5px 15px rgba(0,0,0,0.75);
--shadowlistnumber: 5px 5px 7px rgba(0,0,0,0.25),
inset 2px 2px 5px rgba(255,255,255,0.25),
inset -3px -3px 5px rgba(0,0,0,0.5);
}
html{
font-size: 62.5%;
}
li{
list-style: none;
}
a{
    text-decoration: none ;
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
    z-index: 1;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
    z-index: 1;
}
h2,h4,h5{
    z-index: 1;
}
p{
    color: var(--para);
    z-index: 1;
}
/* Header section start */
header{
    justify-content: space-between;
    text-align: center;
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}
header .logo{
width: 22rem;
} 
.navbar-list{
    display: flex;
    gap: 4.8rem;
    background: black;
}
.navbar-link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: all 0.3s linear;
    background: black;
}
.navbar-link:hover, 
.navbar-link:active{
    color: aqua;
}
/* loading screen  */
/* .loader {
    width: 40px;
    aspect-ratio: 1;
    background:
      radial-gradient(farthest-side,#000 90%,#0000) 50%/8px 8px no-repeat,
      conic-gradient(from -90deg at 15px 15px,#0000 90deg,#fff 0) 0 0/25px 25px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {
    0%   {background-position:50%,0 0}
    50%  {background-position:50%,25px 0}
    100% {background-position:50%,25px 25px}
  } */
/* reuseable code section */
.grid{
    display: grid;
    gap: 9rem;
}
.grid-two-column{
grid-template-columns: repeat(2, 1fr);
}
.grid-three-column{
grid-template-columns: repeat(3, 1fr);
}
.grid-four-column{
grid-template-columns: repeat(4, 1fr);
}
.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 9rem;
}

/* hero section start */

.section-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-hero .image-container{
    position: relative;
    height: 50rem;
}
.section-hero .image-container img{
    max-width: 100%;
    height: 50rem;
    object-fit: cover;
    display: inline-block;
}
.image-container .image-text{
    position: absolute;
    top: 70%;
    padding: 50px;
    background: none;
}
.image-container .image-text h1{
    background: none;
    color:  white;
    font-weight: bold;
    margin-bottom: 5px;
}
.image-container .gradient{
    background-image: to top, black,  #0f2027 0.444;
    opacity: 0.5;
    height: 50rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* .hero-top-container{
    display: inline-flex;
}
.hero-top-container .dynamic-text{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.hero-top-container .dynamic-text li{
    list-style: none;
    animation: slide 12s steps(18) infinite;
    position: relative;
    top: 0;
}
.hero-top-container .dynamic-text li .hero-top-data::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    animation: typing 12s steps(18)
    cursor 0.4s infinite alternate;
}
.hero-top-container .dynamic-text li .hero-top-data{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: var(--helper);
    width: 100%;
    letter-spacing: 1rem;
    font-family: monospace;
    border-right: 0.5rem solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 12s steps(18)
    cursor 0.4s infinite alternate;
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
@keyframes slide{
    100%{
        top: -320px;
    }
}
@keyframes typing{
    40%, 60%{ left: calc(100% + 30px);}
    100%{left:0;}
} */
.hero-top-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dynamic-text{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    min-width: 280px;
    font-family: monospace;
    text-transform: uppercase;
}
.dynamic-text span{
    position: relative;
}
.dynamic-text span::before{
    content: "IT CLUB";
    color: rgb(0, 255, 255 );
    animation: words 12s infinite;
}
.dynamic-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    color: rgb(0, 255, 255 );
    background-color: rgb(18, 21, 24);
    border-left: 2px solid rgb(0, 255, 255 );
    right: -8px;
    animation: cursor .8s infinite, 12s steps(18) infinite ;
}
@keyframes cursor{
    to{
        border-left: 2px solid rgb(18, 21, 24);
}}
@keyframes words{
    0%, 33.33%{
        content:"IT CLUB";
    }
    33.34%, 66.67%{
        content: "SET NEW TREND";
    }
    66.68%, 100%{
        content: "TECHNOLOGICAL ADVANCEMENT";
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.section-hero-data{
    position: relative;
    background: rgb(18, 21, 24);
    box-shadow: var(--shadowlist);
    border-radius: 30px;
    padding: 50px;
}
.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    max-width: 60rem;
    box-shadow: var(--shadow);
}
.hero-paragraph{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    color: gainsboro;
}
.section-video video{
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: var(--shadowlist);
    margin-top: 20px;
}
.btn{
    background-color: var(--btn);
    background-image: var(--btnbackground);
    border: none;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: all 0.3s ease;
}
.robot{
height: 40vh;
width: 90%;
}
/* .btn:hover, .btn:active{

} */

/* list section start */
.list-container{
    position: relative;
    width: 350px;
    min-height: 500px;
    background: rgb(18, 21, 24);
    box-shadow: var(--shadowlist);
    border-radius: 30px;
    padding: 50px;
}
.list-container .what-we-do-heading{
    font-weight: 700;
    font-size: 1.2em;
}
.list-container .list{
position: relative;
display: flex;
align-items: center;
margin: 20px 0;
cursor: pointer; 
}
.list-container .list::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: var(--btnbackground);
    border-radius: 22.5px;
    box-shadow: var(--shadowlistnumber);
    transition: 0.5s;
}
.list-container .list:hover::before{
    width: 100%;
}
.list-container .list .list-number{
    position: relative;
    min-width: 45px;
    height: 45px;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    background: none;
}
.list-container .list .list-number::before{
content: '';
position:  absolute;
top: 7px;
width: 30px;
height: 30px;
background: rgb(18, 21, 24); 
border-radius: 30px;
transform: scale(0);
transition: 0.5s;
}
.list-container .list:hover .list-number:before{
    transform: scale(1);
}
.list-container .list .list-number span{
   color: white;
   background: none;
   position: relative;
   font-weight: 600;
   font-size: 1em;
   transition: 0.5s;
}
.list-container .list .list-data{
    position: relative;
    line-height: 1.15em;
    background: none;
}
.list-container .list .list-data h4{
    font-size: 600;
    color: rgb(188, 188, 192,) ;
    transition: o.5s;
    width: 18rem;
    background: none;
}
.list-container .list:hover .list-data h4{
    color: white;
    background: none;
}
.container .section-image img{
    max-width: 80%;
    border-radius: 1rem;
    box-shadow: var(--shadowlist);
    margin-top: 12px;
}
.container .section-list-image img{
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: var(--shadowlist);
    margin-top: 17px;
}
/* segments section start */
.section-5{
    text-align: center;
}
.section-5 h2{
    letter-spacing: 1rem;
}
.section-5 .grid-three-column{
    row-gap: 10rem; 
    margin-top: 50px;  
}
.icon-container{
    text-align: center;
    box-shadow: var(--shadowlist);
    background:var(--btn);
    border-radius: 5px;
    padding: 6.4rem 3.4rem ;
    transition: all 0.2s linear ;
    margin: 25px;
}
.icon-container:hover, .icon-container:active{
    transform: translateY(-3rem);
}
.icon-container svg{
    width: 8rem;
    height: 8rem;
    margin-bottom: 12px;
    box-shadow: var(--shadowlistnumber);
    padding: 15px;
    background: rgb(0, 255, 255 );
    border-radius: 50%;
}

.icon-container:hover svg, .icon-container:active svg{
    scale: 1.2;
}
.icon-container h6, .icon-container p{
    background: var(--btn);
}
/* form section sart */
.form-container{
display: grid;
text-align: center;
margin: 10rem;
box-shadow: var(--shadowlist);
background: rgb(18, 21, 24);
padding: 50px;
gap: 3rem;
}
.form-container h2{
    letter-spacing: 1rem;
    padding: 30px;
}
.form-container .form label{
    font-size: 13px;
    padding: 5px;
    font-weight: 600;
    background: rgb(18, 21, 24);
}
.form-container .form div input{
    border-radius: 5px;
    box-shadow: var(--shadowlist);
    padding: 5px;
    margin: 10px;
    border: none;
    background: var(--btn);
    text-align: center;
    width: 250px;
    height: 32px;
}
.form-container .form div{
    padding-bottom: 10px;
}
.form-container .signin-container h4 a{
text-decoration: underline;
}
/* footer section start */
.footer{
width: 100%;
padding: 70px 30px 20px;
margin-top: 20px;
box-shadow: var(--shadowlistnumber);
text-align: center;
}
.footer .social-icon{
padding: 20px;
justify-content: center;
}
.social-icon a{
    text-decoration: none;
    padding: 18px;
    background:var(--btn);
    margin: 10px;
    border-radius: 50%;
}
.social-icon a i{
    font-size: 2em;
    color: white;
    background:none;
    opacity: 0.9;
}
.social-icon a:hover{
    background: rgb(0, 255, 255 );
    background-color: rgb(0, 255, 255 );
    transition: o.5s;
}
.social-icon a:hover i{
    color: black;
    transition: o.5s;
    background: none;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    background: none;
    justify-content: center;
}
.footernav ul li a{
    background: none;
}